h2 {
  font-family: 'Ephesis', cursive;
  font-size: 50px;
}

h3 {
  font-family: 'Roboto', sans-serif;
}

.imagen-de-lain {
  width: 200px;
  border-width: 5px;
  border-color: blue;
  border-style: outset dotted dashed double;

}

.bordes-redondeados {
  border-radius: 150px;
}


/* se pueden poner fuentes de respaldo por fallas internas */